<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Productos</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        img {
            width: 50px;
        }
    </style>
</head>
<body>
<h1>Listado de Productos</h1>
<table>
    <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
    </tr>
    <tr th:each="item : ${items}">
        <td><img th:src="${item.image}" alt="Producto"/></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.category}"></td>
    </tr>
</table>
</body>
</html>
